//@import "~normalize.css";
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "./fonts";

@layer base {
  h1 {
    @apply text-3xl;
    font-weight: 600;
  }
  h2 {
    @apply text-2xl;
    font-weight: 600;
    word-break: break-word;
  }
}
